<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Message Board</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" />
</head>
<body>
{% with nodes = get_flashed_messages() %}
  {% if nodes %}
    <ul class="flashes">
    {% for node in nodes %}
      <li class="flash {{node.get("type")}}">{{ node.get("content") }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <div class="container1">
    <!-- <h1><a href="{{url_for('index')}}">Message Board</a></h1> -->
    <form action="{{url_for('create')}}" method="post" accept-charset="utf-8">
      <div class="item">
        <label class="search_label"> Word </label>
        <input type="text" name="word" />
      </div>
      <div class="item btn-box">
        <button type="submit" >Save</button>
      </div>
    </form>
    </div>
    <div class="container2">
    <form action="{{url_for('search')}}" method="post" accept-charset="utf-8">
      <div class="item">
        <label class="search_label">Search Word</label>
        <input type="text" name="search_word" />
      </div>
            <div class="item btn-box">
        <button type="submit" >Search</button>
      </div>
    </form>
  </div>

  <div class="container3">
    <ul class="messages">
      {% for node in nodes %}
        <li class="message">
          <h2 class="word">{{node.word}}</h2>
          <p class="create_at"> ID : {{node.id}}</p>
          <div class="item">
            <p class="content"><b> Meaning: </b>{{node.meaning}}</p>
          </div>
          <div class="item">
            <p class="content"><b>Sentences:</b> {{node.sentence}}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="container4">
    <ul class="messages">
      {% for node in nodes1 %}
        <li class="message">
          <h2 class="word">{{node.word}}</h2>
          <p class="create_at"> ID : {{node.id}}</p>
          <div class="item">
            <p class="content"><b> Meaning: </b>{{node.meaning}}</p>
          </div>
          <div class="item">
            <p class="content"><b>Sentences:</b> {{node.sentence}}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
